.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

/*
#page .site (conteneur de la page)
	#masthead  .site-header (entete de la page)
		.site-branding
			.site-title
			.site-description
		#site-nagigation .main-navigation	
	#primary .site-main (section principale de la page)
	#colophon .site-footer	
*/

.site-branding, #primary, #colophon {
	margin-left : 3rem;
}

