.site-title {
    font-family: $font__sitetitle ;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}


.page-header, .entry-header {
    // margin-top: 130px;

    .page-title, .entry-title {
        font-size: 4rem;
        color: rgb(175, 41, 41);
        margin-bottom: 0;
    }
    .archive-description {
        font-size: 1rem;
        color: rgb(107, 118, 122);
        p{
            margin :0;
        }
    }


}
 

