.site-title {
    font-family: $font__sitetitle ;
    font-weight: bold;
    font-size: clamp(1rem, #{"-0.875rem + 8.333vw"},3rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }
}

.site-description {
    margin-top : 0;
    font-family: $font__sitetitle ;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.5rem);
}


.page-header, .entry-header {
    // margin-top: 130px;

    .page-title, .entry-title {
        font-size: 4rem;
        color: rgb(175, 41, 41);
        margin-bottom: 0;
    }
    .archive-description {
        font-size: 1rem;
        color: rgb(107, 118, 122);
        p{
            margin :0; 
        }
    }


}
 

/* --------------------------------------
   LES MODIFICATIONS DE LA PAGE DE COURS
   -------------------------------------- */
   .LesCours{
       width: 80vw;
       height: 1200vh;
       background-color: red;
       
        
   }
   .NumSession{ /// Les numeros de session
    flex-direction: column;
    color : blue;
}
.contenu{
    display: flex;
    width: 90%;
    background-color: #A2D2FF;
    color: #fff2f3;
    margin: 2%;
    text-align: center;
    text-shadow: 3px 2px 0 #FFAFCC;
    border-radius: 20px;
    transition: all 0.5s;
    @include desktop {
        transform: rotateZ(0deg); 
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 30vh;
    } 
    h4 {
        transition: all 0.5s;
        transform: rotateZ(-90deg); 
      @include desktop {
        transform: rotateZ(0deg); 
      } 
    }

    h6 {
        display: none; 
      @include desktop {
        display: block; 
      } 
    }
    
}

/*.contenu:nth-child(1), .contenu:nth-child(2), .contenu:nth-child(3){
    background-color: purple;
    width: 50px;
    display: flex;
    flex-direction: row;
}*/